In [199]:
import numpy as np
import pandas as pd
import math

In [200]:
energy_df = pd.read_csv("energydata.csv")

In [201]:
energy_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [202]:
energy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [203]:
energy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [204]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score as r2
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

X = energy_df[["T2"]]
y = energy_df[["T6"]]

X.shape, y.shape

((19735, 1), (19735, 1))

In [205]:
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.3, random_state=42)

In [206]:
linReg = LinearRegression()

linReg.fit(X_train, y_train)

LinearRegression()

In [207]:
y_pred = linReg.predict(X_test)

#### 11.

**From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?**

In [210]:
round(r2(y_test, y_pred), 2)

0.64

**Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?**

In [188]:
minmax = MinMaxScaler()

In [211]:
X = energy_df.drop(["Appliances", "date", "lights"], axis=1)
y = energy_df[["Appliances"]]

X = minmax.fit_transform(X)

In [212]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [213]:
linReg = LinearRegression()

linReg.fit(X_train, y_train)

LinearRegression()

In [214]:
y_pred = linReg.predict(X_test)

In [215]:
mae(y_test, y_pred)

53.642977655849485

**What is the Root Mean Squared Error (in three decimal places)?**

In [216]:
mean_squared = mse(y_test, y_pred)
np.sqrt(mean_squared)

93.64046093998029

**What is the Coefficient of Determination (in two decimal places)?**

In [217]:
r2(y_test, y_pred)

0.14890246319303535

**What is the Coefficient of Determination (in two decimal places)?**

In [219]:
w = linReg.coef_

print(w)
drop = ["Appliances", "date", "lights"]
columns =  [x for x in energy_df.columns if x not in drop]

pd.DataFrame(w, columns=columns).T.sort_values(by=0)

[[  -3.51072478  592.29486183 -252.710373   -488.66680472  310.97103712
   102.77165244   31.00966845   28.23278127  -16.75282177   17.12619362
   252.97465249   40.7120577    11.04109074  -47.73659198  109.13469841
  -168.62716102 -203.23662712  -42.58633878 -344.3898449     7.31807923
   -83.1075989    31.22594824   13.16807161  126.00077634    0.824005
     0.824005  ]]

                      0
RH_2        -488.666805
T_out       -344.389845
T2          -252.710373
T9          -203.236627
RH_8        -168.627161
RH_out       -83.107599
RH_7         -47.736592
RH_9         -42.586339
T5           -16.752822
T1            -3.510725
rv2            0.824005
rv1            0.824005
Press_mm_hg    7.318079
T7            11.041091
Visibility    13.168072
RH_5          17.126194
RH_4          28.232781
T4            31.009668
Windspeed     31.225948
RH_6          40.712058
RH_3         102.771652
T8           109.134698
Tdewpoint    126.000776
T6           252.974652
T3           310.971037
RH_1         592.294862

**Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?**

In [158]:
rig = Ridge(alpha=0.4)

In [159]:
rig.fit(X_train, y_train)

Ridge(alpha=0.4)

In [160]:
y_pred = rig.predict(X_test)

In [162]:
np.sqrt(mse(y_test, y_pred))

93.66122703951963

**Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?**

In [164]:
las = Lasso(alpha=0.001)
las.fit(X_train, y_train)

Lasso(alpha=0.001)

In [167]:
len(las.coef_)

26

In [166]:
y_pred = las.predict(X_test)

**What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)**

In [168]:
np.sqrt(mse(y_test, y_pred))

93.64067509185512